name: Pixel5 A14 KernelSU Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:

      - name: Clean Workspace
        run: |
          rm -rf kernel
          rm -rf clang
          rm -rf AnyKernel3

      - name: Free Disk Space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo apt clean
          df -h

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            bc bison build-essential curl flex \
            git libncurses5-dev libssl-dev \
            libelf-dev python3 zip

      - name: Clone Kernel Source (Redbull A14)
        run: |
          git clone --depth=1 \
            -b android-msm-redbull-4.19-android14 \
            https://android.googlesource.com/kernel/msm \
            kernel

      - name: Inject KernelSU
        run: |
          cd kernel
          curl -LSs https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh | bash -

      - name: Enable KSU Config
        run: |
          cd kernel
          echo "CONFIG_KSU=y" >> arch/arm64/configs/redbull_defconfig
          echo "CONFIG_KSU_SUSFS=y" >> arch/arm64/configs/redbull_defconfig
          echo "CONFIG_KSU_SUSFS_SPOOF=y" >> arch/arm64/configs/redbull_defconfig
          echo "CONFIG_LTO_NONE=y" >> arch/arm64/configs/redbull_defconfig
          echo "CONFIG_DEBUG_INFO=n" >> arch/arm64/configs/redbull_defconfig

      - name: Setup AOSP Clang
        run: |
         git clone --depth=1 https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86 clang
         ls clang

      - name: Install GCC cross compiler
        run: |
         sudo apt install -y gcc-aarch64-linux-gnu

      - name: Build Kernel
        run: |
         export ARCH=arm64
         export SUBARCH=arm64
         export CROSS_COMPILE=aarch64-linux-gnu-
         export PATH=$(pwd)/clang/clang-r450784d/bin:$PATH

         cd kernel


         echo "CONFIG_ARM64_LSE_ATOMICS=n" >> arch/arm64/configs/redbull_defconfig

         make O=out redbull_defconfig

         make -j$(nproc) O=out \
           CC=clang \
           LD=aarch64-linux-gnu-ld \
           AR=aarch64-linux-gnu-ar \
           NM=aarch64-linux-gnu-nm \
           OBJCOPY=aarch64-linux-gnu-objcopy \
           OBJDUMP=aarch64-linux-gnu-objdump



  
      - name: Package Kernel
        run: |
          cd kernel/out/arch/arm64/boot
          zip -r ../../../../../Pixel5-A14-KSU.zip *

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Pixel5-A14-KSU
          path: Pixel5-A14-KSU.zip
